{% extends "doctor_module/doctorindex.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <script>
  function validate() {

        input=document.getElementById("textfield4");
        var st=input.value.split("@");
        var ln=st.length;
        if (st[ln-1]!="gmail.com") {
            alert("Invalid email address!");
            input.focus();
            return false;
          }
        return true;
    }
</script>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" onsubmit="return validate()" id="form1">
<h3 align="center" class="mt-4 mb-4">update profile</h3>
     {% csrf_token %}
  <table class="table table-bordered">

   <tr>
      <td colspan="2"align="center"><label for="fileField"><img src="{{ data.photo  }}" width="100" height="100" class="form-control"></label>
      <input type="file" name="fileField" id="fileField"></td>
    </tr>
    <tr>
      <th>Doctor Name</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.d_name }}" pattern="[A-Za-z]{3,25}" required  class="form-control"/></td>
    </tr>
    <tr>
      <th>Age</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ data.age }}" required  class="form-control"/></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><p>
        <label>
          <input type="radio" name="gender" value="male" id="gender_0" {% if data.gender == 'male' %}checked{% endif %}/>
          male</label>
        <br />
        <label>
          <input type="radio" name="gender" value="female" id="gender_1" {% if data.gender == 'female' %}checked{% endif %} />
          female</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.phone }}" pattern="[6789][0-9]{9}"  class="form-control"/></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" value="{{ data.email }}" pattern="[a-zA-Z0-9._-]+@[a-z]+\\.+[a-z]+" title="enter valid email address"required  class="form-control"/></td>
    </tr>
    <tr>
      <th>Qualification</th>
      <td><p>
        <label>
          <input type="checkbox" name="Qualification" value="MBBS" id="Qualification_0" {% for foo in quali %}{% if foo == 'MBBS' %}checked{% endif %}{% endfor %}/>
          MBBS</label>
        <br />
        <label>
          <input type="checkbox" name="Qualification" value="Pediatrics" id="Qualification_1" {% for foo in quali %}{% if foo == 'Pediatrics' %}checked{% endif %}{% endfor %}/>
          Pediatrics</label>
        <br />
        <label>
          <input type="checkbox" name="Qualification" value="Gynecology and Obstetrics" id="Qualification_2" {% for foo in quali %}{% if foo == 'Gynecology and Obstetrics' %}checked{% endif %}{% endfor %} />
          Gynecology and Obstetrics</label>
        <br />
        <label>
          <input type="checkbox" name="Qualification" value="Neurosurgeon" id="Qualification_3" {% for foo in quali %}{% if foo == 'Neurosurgeon' %}checked{% endif %}{% endfor %}/>
          Neurosurgeon</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="update" class="btn btn-primary" /></td>
{#      <td colspan="2"><input type="submit" name="button" id="button" value="update" onclick="ValidateEmail(document.form1.textfield4)" /></td>#}
    </tr>
  </table>
</form>
</body>
</html>

{% endblock %}