{% extends "admin_module/adminindex.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
    <h3 align="center" class="mb-4 mt-4">patient details</h3>
  <table class="table table-bordered">

    <tr>
      <th>Patient Name</th>
      <td>{{ data.p_name }}&nbsp;</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>{{ data.age }}&nbsp;</td>
    </tr>
    <tr>
      <th>Sex</th>
      <td>&nbsp;{{ data.gender }}</td>
    </tr>
    <tr>
      <th>Place</th>
      <td>{{ data.place }}&nbsp;</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{ data.phone }}&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}