{% extends "patient_module/patientindex.html" %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<h3 align="center" class="mt-4 mb-4">doctors</h3>
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Doctor Name</th>
      <th>Rating</th>
      <th>Category</th>
      <th>&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>{{ i.d_name }}&nbsp;</td>
     <td>
          {% for rate_item in rate %}
            {% if rate_item.doctor_id__d_name == i.d_name %}
              {{ rate_item.avg_rating }}
            {% endif %}
          {% endfor %}
        </td>
      <td>{{ i.qualification }}&nbsp;</td>
      <td><a href="pviewdocprofile/{{ i.id }}" class="btn btn-success">View Profile</a>
      <a href="/chatpatientget/{{ i.id }}" class="btn btn-primary">Chat</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}